<html>

<head>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <h1 class="title"> Project Timeline</h1>
    <div class="timeline">
        <div class="container left">
            <div class="content">
                <h2>2021</h2>
                <ul>
                    <li>
                        <a href="xxx.html">
                            <p>xxx</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2020</h2>
                <ul>
                    <li>
                        <a href="xxx.html">
                            <p>xxx</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>